RewriteEngine On

# Redirect www and force HTTPS
RewriteCond %{HTTPS} off [OR]
RewriteCond %{HTTP_HOST} ^www\.e-notifyer\.nl$ [NC]
RewriteRule ^(.*)$ https://e-notifyer.nl/$1 [L,R=301]

# Optional: rewrite extensionless URLs
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.+)$ $1.php [L]

